html, body {
  background-color: #453b40;
  min-width: 500px;
}

header {
  color: #c497ac;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
}

#instructions {
  color: white;
}

.instruction {
  padding: 15px;
  margin: 10px 0;
}

.plus {
  background-color: #f67280;
}

.moins {
  background-color: #ffa372;
}

.fini {
  background-color : #0c9463;
}